<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.easypasse">

    <permission
        android:name="br.com.easypasse.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="br.com.easypasse.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CarregandoActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.RecargaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.TranferenciaRecargaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CartaoCreditoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.BoletoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CadastroComplementoActivity"
            android:label="@string/title_activity_cadastro_complemento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.LogarCadastrarActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".view.ConfiguracaoActivity"
            android:label="@string/title_activity_configuracao"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".view.AjudaActivity"
            android:label="@string/title_activity_ajuda"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".view.ContaActivity"
            android:label="@string/title_activity_conta"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".view.FormaPagamentoActivity"
            android:label="@string/title_activity_cadastro_forma_pagamento"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".view.DadosCartaoPagamentoActivity"
            android:label="@string/title_activity_dados_forma_pagamento"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".view.LocalizarOnibusActivity"
            android:label="@string/title_activity_dados_forma_pagamento"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
    </application>

</manifest>