<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustavo.easypasse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".view.CadastroActivity"
            android:label="Cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.RecargaActivity"
            android:label="@string/title_activity_recarga"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- <intent-filter> -->
                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.TranferenciaRecargaActivity"
            android:label="@string/title_activity_tranferencia_recarga"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CartaoCreditoActivity"
            android:label="@string/title_activity_cartao_credito"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.BoletoActivity"
            android:label="@string/title_activity_boleto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CadastroComplementoActivity"
            android:label="@string/title_activity_cadastro_complemento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.LogarCadastrarActivity"
            android:label="@string/title_activity_logar_cadastrar"
            android:theme="@style/AppTheme.NoActionBar">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
    </application>

</manifest>